.indexWapper{
  background: #fafafa;
}

.indexSwiper{
  padding: 20px;
  background: #fff;
}

.summary{
  background: #fff;
  margin-top: 20px;
}

.summary{
  padding: 30px;
}
.summary-title-box{
   display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content:space-between;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #212121;

}
.summary-title{
  font-size: 45px;
  color: #212121;
  font-family: KaiTi;
}
.summary-more{
  font-size: 25px;
  color: #757575;
}
.summary-img-ref{
  width:150px;
  height: 195px;
  border-radius: 10px;
}
.summary-box{
  flex-direction:column;
}
.summary-item{
  margin-top: 25px;
}
.summary-txt{
  flex:1;
  margin-left: 30px;
  flex-direction:column;
  border-bottom: 1px solid #efefef;
  padding-bottom: 30px;
}
.summary-item-title{
  font-size: 38px;
  line-height: 50px;
  height: 50px;
}
.summary-item-content{
  font-size: 28px;
  line-height: 36px;
  color: #757575;
  margin-top: 5px;
  height: 110px;
}
.summary-item-h{
  font-size: 26px;
  color: #757575;
}
.summary-item-c{
  color: #ff6600;
  width: 100px;
}

.ls2{
  letter-spacing:1px;
}
.s{
  color: #ddd;
  text-decoration:line-through;
}
